<h1>Bizning bo'limlar</h1>
<h2><a href="/newdepartment">Yangi bo'lim☻</a></h2>
<table class="table">
    <thead>
         <tr>
             <th>_id</th>
             <th>Name</th>
             <th>Phone</th>
             <th>Ma'lumoti</th>
             <th>Yoshi</th>
         </tr>
    </thead>
    <tbody>
        {{#each depart}}
        <tr>
            <td>
                <a href="/depart/{{this._id}}">{{this._id}}</a>
            </td>
            <td>
                 {{this.name}},
            </td>
            <td>
                 {{this.phone}},
            </td>
            <td>
                {{this.education}}
            </td>
            <td>
                {{this.age}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>